/*Styling the html sheet, table should have specification such as border 1px solid grey.
Two classes created .red for red color and .purple for purple color.*/

body {
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
.red{
  color: red;
}
.purple{
  color: purple;
}
